<div class="welcome" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" fxLayoutAlign="center center">
  <!-- Showcase -->
  <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-4">About AIOps</h1>
              <p class="lead">Artificial intelligence for IT operations (AIOps) is an umbrella term for
                the use of big data analytics, machine learning (ML) and other artificial intelligence (AI)
                technologies to automate the identification and resolution of common information technology (IT) issues</p>
              <a href="#" class="btn btn-dark btn-lg">Explore</a>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="display-3">Modernize Repair Portal</h1>
              <p class="lead">Using latest technologies to rebuild SA GUI with a modern state of the art GUI.</p>
              <a href="#" class="btn btn-dark btn-lg">Learn More</a>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-image-3">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3">Assurance APIs</h1>
              <p class="lead">Journey toward a complete set of Service Assurance APIs.</p>
              <a href="#" class="btn btn-dark btn-lg">Join Our Journey</a>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-image-4">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3">SA Eco-System</h1>
              <p class="lead">Developing Service Assurance system architecture as a
                self-sustainable eco-system.</p>
              <a href="#" class="btn btn-dark btn-lg">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
</div>