<section>
  <form 
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSignup(f)" 
    #f="ngForm">
    <mat-form-field>
      <input 
        type="email" 
        id="email" 
        name="email"
        matInput
        placeholder="Your email"
        ngModel>
        <mat-hint align="end">Please enter a valid email.</mat-hint>
        <mat-error>Invalid or missing emails.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        id="password" 
        name="password" 
        matInput
        placeholder="Your password"
        ngModel>
    </mat-form-field>
    <mat-checkbox
      ngModel
      name="agree"
      color="primary"
      required>Agree to Terms and Conditions.</mat-checkbox>
    <button 
      mat-raised-button 
      color="primary" 
      type="submit" 
      [disabled]="!f.valid">Sign Up</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>