<section>
  <form 
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    [formGroup]="signinForm"
    (ngSubmit)="onSignin()">
    <mat-form-field>
      <input 
        type="email" 
        id="email" 
        formControlName="email"
        matInput
        placeholder="Your email">
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        matInput
        placeholder="Your password">
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary" 
      type="submit" 
      [disabled]="signinForm.invalid">Sign In</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>