<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(shopItemForm)" #shopItemForm="ngForm">
      <mat-form-field>
        <input 
          type="text"
          id="name"
          class="form-control"
          matInput
          placeholder="Enter ingredient name"
          ngModel
          required
          name="name">
      </mat-form-field>
      <mat-form-field>
        <input 
          type="number"
          id="amount"
          class="form-control"
          matInput
          placeholder="Enter anount"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$"
          name="amount">
      </mat-form-field>
      <div class="shopping-edit-button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!shopItemForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
        <button 
          mat-raised-button
          color="primary" 
          type="button"
          *ngIf="editMode"
          (click)="onDelete()">Delete</button>
        <button 
          mat-raised-button
          color="primary" 
          type="button"
          (click)="onClear()">Clear</button>
      </div>
    </form>
  </div>
</div>